body {
  background-color: #93abd3;
  margin-top: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

p {
  line-height: 2;
}

.ASR {
  margin-top: 0px;
  background-color: #8bcdcd;
  position: relative;
  padding-top: 100px;
}

h1 {
  color: #595b83;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-weight: bold;
  color: #11999e;

}

h3 {
  font-weight: bold;
  color: #11999e;
}

.skill-row {
  width: 50%;
  margin: 100px auto 120px auto;
  text-align: left;
  line-height: 2;
}

.comp-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.second {
  position: absolute;
}

.top {
  padding-top: 100px;
  position: absolute;
  top: 20px;
  right: 10%;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #93abd3;

}
.prj{
  width: 30%;
  margin: 100px auto;
}
.univ{

  text-align: center;
  font-weight: bold;
  color:#11999e;
  font-family: 'Montserrat', sans-serif;

}
.education{
  width: 30%;
  text-align: center;
  line-height: 2;
  margin: 100px auto;
}
.experience{
  width: 30%;
  text-align: center;
  margin: 100px auto;
}

hr {
  border: dotted;
  width: 2%;
  color: #583d72;
  border-bottom: none;
  margin: 100px auto;
}
.contact-me{
  width: 40%;
  margin: 40px auto 60px;



}
.intro1 {
  width: 30%;
  margin: auto;
  padding-bottom: 20px;
}
a{
  color: #03506f;
  font-size:0.55rem;
  text-decoration: none;
}
a:hover{
  color: #d35d6e;
}
.copyright{
  color:#d35d6e;
  font-size:0.55rem;
}
.tt{
  border: dotted;
  color: #534e52;
  width: 100%;
  border:solid;
  border-bottom: none;
}

.btm {
   background: #3916DF;
   background-image: -webkit-linear-gradient(top, #3916DF, #1ED09E);
   background-image: -moz-linear-gradient(top, #3916DF, #1ED09E);
   background-image: -ms-linear-gradient(top, #3916DF, #1ED09E);
   background-image: -o-linear-gradient(top, #3916DF, #1ED09E);
   background-image: -webkit-gradient(to bottom, #3916DF, #1ED09E);
   -webkit-border-radius: 14px;
   -moz-border-radius: 14px;
   border-radius: 14px;
   color: #99C624;
   font-family: Arial;
   font-size: 15px;
   font-weight: 100;
   padding: 11px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #000000 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btm:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
